-- CreateEnum
CREATE TYPE "VerifiedStatus" AS ENUM ('verified', 'manual_review', 'rejected');

-- CreateEnum
CREATE TYPE "ConfidenceColor" AS ENUM ('green', 'yellow', 'red');

-- CreateTable
CREATE TABLE "Product" (
    "id" TEXT NOT NULL,
    "title" TEXT NOT NULL,
    "description" TEXT NOT NULL,
    "slug" TEXT NOT NULL,
    "brand" TEXT,
    "category" TEXT,
    "tags" TEXT[],
    "images" TEXT[],
    "zones_dispo" TEXT[],
    "prices" JSONB,
    "affiliate_url" TEXT,
    "eco_score" DECIMAL(3,2),
    "ai_confidence" DECIMAL(3,2),
    "confidence_pct" INTEGER,
    "confidence_color" "ConfidenceColor",
    "verified_status" "VerifiedStatus" NOT NULL DEFAULT 'manual_review',
    "resume_fr" TEXT,
    "resume_en" TEXT,
    "enriched_at" TIMESTAMP(3),
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Product_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Region" (
    "id" TEXT NOT NULL,
    "code" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "currency" TEXT NOT NULL,
    "language" TEXT NOT NULL,
    "timezone" TEXT NOT NULL,
    "tax_rate" DECIMAL(5,4),
    "active" BOOLEAN NOT NULL DEFAULT true,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "Region_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "Product_slug_key" ON "Product"("slug");

-- CreateIndex
CREATE UNIQUE INDEX "Region_code_key" ON "Region"("code");

